@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo</p>

@{
    if(this.IfClaim("Produtos", "Ler")){
        <p>O segredo só pode ser revelado para quem tem permissão de Ler!</p>
    }
}