@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Segredo";
}
<h1>@ViewData["Title"]</h1>

<p>Segredo Claim</p>

@{
    if(this.IfClaim("Produtos", "Adicionar")){
        <p>este  segredo só está sendo revelado a você porque você tem permissão de Adicionar!</p>
    }
}

<div>
    @Html.ActionLink("Segredo", "Privacy").IfClaimShow(Context, "Produtos", "Adicionar")
</div>

<div>
    <br/>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Adicionar"))">Excluir</a>
</div>
